.background{
    background-color: #cc502b;   /* #209b78 */

}

.nav{
    height: 100px;
}

.search-input {
    position: relative;
}

.search-input input {
    padding-left: 30px; /* Espacio para el icono de lupa */
}

.search-input .fa-search {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #888; /* Color del icono */
}